$hojun1 : #fff;
$hojun2 : #f00;
$호준 : #00f;
$큰글자: 34px;

.one {
    font-size: $큰글자;
    color: $hojun1;
}

.two {
    color: $hojun2;
}

.three {
    color: $호준;
}

.one {
    color: red;
    .two {
        color: blue;
        @at-root .three {
            color: green;
        }
    }
}