*, *::after, *::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 200px;
    margin: 10vh auto 0;
}

.wrapper h2.hidden_tit {
    position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.wrapper button.favorite {
    width: 100%;
    padding: 13px 24px 13px 14px; /*오른쪽 패딩을 더 줘서 텍스트가 길어질 경우 말줄임표가 화살표 이미지 침범하지 않게끔 하는 센스*/
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: #ffffff;
    background: url(/images/icon-Triangle-down.png) no-repeat;
    background-position: right 14px center;

    /* 텍스트가 길어질 경우 대비해서 width 유지하고 말줄임 되도록 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.favorite:focus {
    border: 1px solid #9B51E0;
    outline: 3px solid #F8E4FF;
}

button.favorite.on {
    background-image: url(/images/icon-Triangle-up.png);
}

button.favorite.on+.list {
    display: block;
}

ul.list {
    width: 100%;
    margin-top: 9px;
    border: 1px solid #C4C4C4;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: none;
}

ul.list li {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 8px;
}

ul.list li > button {    
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 7px 0 7px 10px;
    text-align: left;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.list li button:hover,
ul.list li button:focus {
    background: #F8E4FF;
    border-radius: 8px;
}