/*reset*/
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: inherit;
}

/* common design */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@500&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: url(image.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: rgb(248, 203, 210);
    width: 600px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

.sign-in {
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 3px;
    font-size: 30px;
    color: hotpink
}

.kirby {
    position: absolute;
    top: -3%;
    right: 15px;
    width: 75px;
}

.type-in {
    margin: 5px 0;
    height: 2em;
    width: 20em;
}

.btn {
    position: absolute;
    margin: 0.5em 1em;
    height: 2em;
}

.type-in {
    margin-left: 5px;
}

fieldset {
    border: 1px solid darkgray;
    display: inline-block;
    width: 450px;
}

.button {
    margin: 20px;
    padding: 1em;
    width: 15em;
    background-color: hotpink;
    color: white;
    border-radius: 10px;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.button:hover {
    background-color: rgb(194, 52, 99);
}